<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>

    <div th:replace="fragments/menucash :: header-css"/>

</head>
<body>

<div th:replace="fragments/menucash :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>CASH operation</h1>
        <h2>1. <a th:href="@{/cash/operation/payment}">Payment</a></h2>
        <h2>2. <a th:href="@{/cash/operation/balance}">Balance </a></h2>
        <h2>3. <a th:href="@{/cash/operation/user_operation}">User operations</a></h2>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>