<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/menuadmin :: header-css"/>
</head>
<body>

<div th:replace="fragments/menuadmin :: header"/>

<div class="container">

    <H2>Reviews</H2>
    <form action="/admin/reviews/delete" th:object="${reviews}" method="post">

        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Дата</th>
                <th>Пользователь</th>
                <th>Описание</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="review, stat : ${reviews}">
                <td th:text="${review.id}"></td>
                <td th:text="${review.date}"></td>
                <td th:text="${review.user.username}"></td>
                <td th:text="${review.description}"></td>

                <td><input type="checkbox" th:name="ids"
                           th:value="${review.id}" /></td>
                <td>
            </tr>
            </tbody>
        </table>
        <div class="field">
            <button type="submit" value="submit" class="btn btn-success">Delete reviews</button>
        </div>
    </form>
</div>
<div th:replace="fragments/footer :: footer"/>

</body>
</html>