<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/menuadmin :: header-css"/>
</head>
<body>

<div th:replace="fragments/menuadmin :: header"/>

<div class="container">
    <tr th:each="user : ${roles}">
        <td th:text="${user.id}"> </td>
        <td th:text="${user.name}"></td>
    </tr>
    <div class="row">
        <div class=col-md-2>Логин</div>
        <div class=col-md-2>Фамилия</div>
        <div class=col-md-2>Имя</div>
        <div class=col-md-2>Отчество</div>
        <div class=col-md-2>Email</div>
        <div class=col-md-2>Роль</div>
    </div>
    <div th:each="user : ${users}">
        <form class="form-horizontal-${user.id}" action="do?command=EditUsers" method="post">
            <div class="row">
                <!--<input id="id" name="id" type="hidden" placeholder="" class="form-control input-md"-->
                <!--required="" th:value="${user.id}">-->

                <div class="col-md-2">
                    <input id="username" name="username" type="text" placeholder="" class="form-control input-md"
                           required="" th:value="${user.username}">
                </div>

                <div class="col-md-2">
                    <input id="lastName" name="lastName" type="text" placeholder="" class="form-control input-md"
                           required="" th:value="${user.lastName}">
                </div>

                <div class="col-md-2">
                    <input id="firstName" name="firstName" type="text" placeholder="" class="form-control input-md"
                           required="" th:value="${user.firstName}">
                </div>

                <div class="col-md-2">
                    <input id="patronymic" name="patronymic" type="text" placeholder="" class="form-control input-md"
                           required="" th:value="${user.patronymic}">
                </div>
                <div class="col-md-2">
                    <input id="email" name="email" type="text" placeholder="" class="form-control input-md"
                           required="" th:value="${user.email}">
                </div>

                <div class="col-md-2">
                    <!--<select id="roleId" name="roleId" th:field="*{roleId}" class="form-control"  required="true" />-->
                    <!--<option th:value="''" th:text="Select"></option>-->


                    <!--<select id="roleId" name="roleId" th:field="*{roleId}" class="form-control"  required="true" />-->
                    <!--<option th:each="role : ${roles}"-->
                    <!--th:value="${role.id}" th:text="${role.name}"-->
                    <!--th:selected="${role.id} == ${user.roleId}">-->
                    <!--</option>-->
                    <!--</select>-->

                    <!--<div class="col-md-2">-->
                    <!--<th:each items="${roles}" var="roles">-->
                    <!--<th:if test="${user.roleId==roles.id}">|${roles.name}</th:if>-->
                    <!--</th:each>-->
                    <!--</div>-->

                    <div class="col-md-2">
                        <!--<th:each items="${roles}" var="roles">-->
                        <!--<th:if test="${user.roleId==roles.id}">|${roles.name}</th:if>-->
                        <!--</th:each>-->



                        <span th:each="component : ${roles}"
                              th:object="${component}"
                              th:if="${component.id} == ${user.roleId}">

                             <input id="roleId" name="roleId" type="text" placeholder="" class="form-control input-md"
                                    required="" th:value="${component.name}">
                        </span>



                    </div>

                    <!--<span th:each="component : ${body.components}"-->
                    <!--th:object="${component}"-->
                    <!--th:if="${component.name} == 'MATERIAL'">-->
                    <!--<button th:text="*{title}"></button>-->
                    <!--</span>-->


                    <!--<select id="roleId" name="roleId" class="form-control">-->
                    <!--<div th:each ="role : ${roles}">-->
                    <!--<option th:value="${role.id}" ${user.roleId==role.id?"th:field":""}>${role.name}</option>-->
                    <!--</div>-->
                    <!--</select>-->
                </div>

                <!-- Button (Double) -->
                <!--<div class="col-md-4">-->
                <!--<button id="update" name="update" class="btn btn-success">Обновить</button>-->
                <!--<button id="delete" name="delete" class="btn btn-danger">Удалить</button>-->
                <!--</div>-->
            </div>
        </form>
    </div>


    <!--<div class="starter-template">-->
    <!--<h1>List Users</h1>-->

    <!--<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>-->
    <!--<ul th:each="user,stat : ${users}">-->
    <!--<li th:text="${stat.count} + '. ' + ${user.username} + '  '+ ${user.lastName} + '  '+ ${user.firstName} + '  '+ ${user.patronymic} + '  '+ ${user.email} + '  '+ ${user.roleId}"-->

    <!--<th:forEach items="${roles}" var="role">-->
    <!--<th:if test="${user.roleId==role.id}" >${role.name} </th:if>-->
    <!--</th:forEach>-->
    <!--&gt;</li>-->
    <!--</ul>-->
    <!--&lt;!&ndash;!!!!!!!!!!!!!!!!!!!!!!!!!&ndash;&gt;-->
    <!--&lt;!&ndash;<select th:field="*{users}">&ndash;&gt;-->
    <!--&lt;!&ndash;<option th:each="i : ${#numbers.sequence(0, 100)}" th:value="${i}" th:text="${i}"&ndash;&gt;-->
    <!--&lt;!&ndash;th:selected="${i==3}"></option>&ndash;&gt;-->
    <!--&lt;!&ndash;</select>&ndash;&gt;-->
    <!--&lt;!&ndash;!!!!!!!!!!!!!!!!!!!!!!!!&ndash;&gt;-->
    <!--</div>-->

</div>
<div th:replace="fragments/footer :: footer"/>

</body>
</html>