<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/menuadmin :: header-css"/>
</head>
<body>

<div th:replace="fragments/menuadmin :: header"/>

<div class="container">

    <H5>UPDATE</H5>


    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Логин</th>
            <th>Пароль</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Role</th>
            <th>chek</th>
        </tr>
        </thead>
        <tbody>
        <form action="#" th:action="@{/admin/update_user}" th:object="${user}" method="post">
            <tr th:each="user, stat : ${users}">

                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.password}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.patronymic}"></td>
                <!--<td th:text="${user.roleId}"></td>-->
                <td>
                    <form method="post" th:action="@{/users/update}" th:object="${RoleDTOUpdatedObject}">

                        <th:block th:if="${user.id ==1}">
                            <div th:text="${user.roleDTO.name}">...</div>
                        </th:block>

                        <th:block th:if="${user.id !=1}">
                            <input hidden value="#" th:attr="value=${user.id}" th:name="id"/>

                            <select name="role" th:name="roleId" required>
                                <option th:each="role,stat:${roles}"
                                        th:value="${roles[__${stat.index}__].id}"
                                        th:text="${roles[__${stat.index}__].name}"
                                        th:selected="${user.roleDTO.name == roles[__${stat.index}__].name}"
                                        th:disabled="${user.roleDTO.name == roles[__${stat.index}__].name}">
                                </option>
                            </select>
                        </th:block>

                        <th:block th:if="${user.id !=1}">
                            &nbsp;
                            <button class="btn btn-light btn-xs">Update</button>
                        </th:block>
                    </form>
                <td><input type="checkbox" th:name="id"
                           th:value="${user.id}" th:checked="${user.isNotActive}"/></td>
            </tr>
        </form>
        </tbody>

    </table>
    <div class="field">
        <button type="submit" value="submit" class="btn btn-success">Submit</button>
    </div>

</div>
<div th:replace="fragments/footer :: footer"/>

</body>
</html>